@font-face {
    font-family: 'plumbcregular';
    src: url('../font/plumbc-webfont.eot');
    src: url('../font/plumbc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/plumbc-webfont.woff') format('woff'),
         url('../font/plumbc-webfont.ttf') format('truetype'),
         url('../font/plumbc-webfont.svg#plumbcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}