@import fonts
@import compass
@import header
@import footer
$plumbc: 'plumbcregular', Arial, sans-serif

html
	overflow-y: scroll
html, body
	height: 100%
	position: relative
.wrapper
	$wrapper-image: url(../img/site/bg.png) center 0 no-repeat
	$wrapper-gradient: rgba(65,64,66,1) 0%, rgba(65,64,66,1) 990px, rgba(49,48,50,1) 993px, rgba(49,48,50,1) 100%
	background-color: #414042
	background: $wrapper-image, -moz-linear-gradient(-60deg, $wrapper-gradient)
	background: $wrapper-image, -webkit-linear-gradient(-60deg, $wrapper-gradient)
	background: $wrapper-image, -ms-linear-gradient(-60deg, $wrapper-gradient)
	background: $wrapper-image, linear-gradient(-150deg, $wrapper-gradient)
	background: $wrapper-image, -o-linear-gradient(-60deg, $wrapper-gradient) !important
	min-height: 100%
	height: auto !important
	height: 100%
	min-width: 940px
header
	height: 217px
	padding-top: 30px
	h1
		margin-top: 77px
		color: #00aeef
		text-transform: uppercase
article
	color: #eaeaea
	min-height: 350px
textarea
	resize: vertical
.blue-btn
	background: #00a6e5
	color: #fff
	text-transform: uppercase
	+border-radius(44px)
	font-size: 24px
	border: none
	border: 3px solid #2e2e2f
	background-color: #00aeef // Old browsers
	+filter-gradient( #00aeef, #00a1dd, vertical ) // IE6-9
	+background-image( linear-gradient(top, #00aeef 0%,#00a1dd 100%) )
	padding: 24px 20px
	line-height: 16px
	&.long
		width: 100%
		margin-top: 60px
	&:hover
		background: darken(#00a6e5, 5)
	&:active
		background: darken(#00a6e5, 10)
ul
	list-style: none
	margin: 0 0 10px 32px
	li
		position: relative
		line-height: 17px
		margin-bottom: 8px
		&:before
			content: ''
			position: absolute
			height: 8px
			width: 12px
			top: 5px
			left: -32px
			background: url(../img/site/arrow.png) 1px 0px no-repeat
h1
	font: 32px $plumbc
h2
	font: normal 24px/34px $plumbc
	text-transform: uppercase
	margin: 20px 0 0 0
.lang
	margin-top: 14px
	.ru, .eng
		background: url(../img/sprites/lang.png) no-repeat
		height: 29px
		width: 29px
		display: inline-block
	.ru
		background-position: 1px 0px
		&.active, &:active, &:hover
			background-position: 1px -31px
	.eng
		background-position: -29px 0px
		margin-left: 7px
		&.active, &:active, &:hover
			background-position: -29px -31px
.social
	.fb, .tw, .in
		background: url(../img/sprites/social.png) no-repeat
		height: 52px
		width: 52px
		display: inline-block
	.fb
		background-position: 0px -53px
		&:hover
			background-position: 0px -1px
	.tw
		background-position: -52px -53px
		&:hover
			background-position: -52px -1px
	.in
		background-position: -104px -53px
		&:hover
			background-position: -104px -1px
.form-horizontal
	position: relative
	margin-top: 12px
	.control-group
		margin-bottom: 12px
	.control-label
		text-align: left
		width: 100px
	.controls
		margin-left: 100px
		input, textarea
			width: 183px
		textarea
			resize: none
	.control-group-right-button
		display: inline-block
		margin: 0
	.form-button
		display: inline-block
		margin-left: 20px
		vertical-align: bottom
	.error
		border-color: #c60f13
		+box-shadow(0 0 6px #F8B9B7)

