@font-face {
  font-family: 'plumbcregular';
  src: url("../font/plumbc-webfont.eot");
  src: url("../font/plumbc-webfont.eot?#iefix") format("embedded-opentype"), url("../font/plumbc-webfont.woff") format("woff"), url("../font/plumbc-webfont.ttf") format("truetype"), url("../font/plumbc-webfont.svg#plumbcregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 7, ../../assets/sass/application.sass */
html {
  overflow-y: scroll;
}

/* line 9, ../../assets/sass/application.sass */
html, body {
  height: 100%;
  position: relative;
}

/* line 12, ../../assets/sass/application.sass */
.wrapper {
  background-color: #414042;
  background: url(../img/site/bg.png) center 0 no-repeat, -moz-linear-gradient(-60deg, #414042 0%, #414042 990px, #313032 993px, #313032 100%);
  background: url(../img/site/bg.png) center 0 no-repeat, -webkit-linear-gradient(-60deg, #414042 0%, #414042 990px, #313032 993px, #313032 100%);
  background: url(../img/site/bg.png) center 0 no-repeat, -ms-linear-gradient(-60deg, #414042 0%, #414042 990px, #313032 993px, #313032 100%);
  background: url(../img/site/bg.png) center 0 no-repeat, linear-gradient(-150deg, #414042 0%, #414042 990px, #313032 993px, #313032 100%);
  background: url(../img/site/bg.png) center 0 no-repeat, -o-linear-gradient(-60deg, #414042 0%, #414042 990px, #313032 993px, #313032 100%) !important;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-width: 940px;
}

/* line 25, ../../assets/sass/application.sass */
header {
  height: 217px;
  padding-top: 30px;
}
/* line 28, ../../assets/sass/application.sass */
header h1 {
  margin-top: 77px;
  color: #00aeef;
  text-transform: uppercase;
}

/* line 32, ../../assets/sass/application.sass */
article {
  color: #eaeaea;
  min-height: 350px;
}

/* line 35, ../../assets/sass/application.sass */
textarea {
  resize: vertical;
}

/* line 37, ../../assets/sass/application.sass */
.blue-btn {
  background: #00a6e5;
  color: white;
  text-transform: uppercase;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
  border-radius: 44px;
  font-size: 24px;
  border: none;
  border: 3px solid #2e2e2f;
  background-color: #00aeef;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00AEEF', endColorstr='#FF00A1DD');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aeef), color-stop(100%, #00a1dd));
  background-image: -webkit-linear-gradient(top, #00aeef 0%, #00a1dd 100%);
  background-image: -moz-linear-gradient(top, #00aeef 0%, #00a1dd 100%);
  background-image: -o-linear-gradient(top, #00aeef 0%, #00a1dd 100%);
  background-image: linear-gradient(top, #00aeef 0%, #00a1dd 100%);
  padding: 24px 20px;
  line-height: 16px;
}
/* line 50, ../../assets/sass/application.sass */
.blue-btn.long {
  width: 100%;
  margin-top: 60px;
}
/* line 53, ../../assets/sass/application.sass */
.blue-btn:hover {
  background: #0094cc;
}
/* line 55, ../../assets/sass/application.sass */
.blue-btn:active {
  background: #0081b2;
}

/* line 57, ../../assets/sass/application.sass */
ul {
  list-style: none;
  margin: 0 0 10px 32px;
}
/* line 60, ../../assets/sass/application.sass */
ul li {
  position: relative;
  line-height: 17px;
  margin-bottom: 8px;
}
/* line 64, ../../assets/sass/application.sass */
ul li:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 12px;
  top: 5px;
  left: -32px;
  background: url(../img/site/arrow.png) 1px 0px no-repeat;
}

/* line 72, ../../assets/sass/application.sass */
h1 {
  font: 32px "plumbcregular", Arial, sans-serif;
}

/* line 74, ../../assets/sass/application.sass */
h2 {
  font: normal 24px/34px "plumbcregular", Arial, sans-serif;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

/* line 78, ../../assets/sass/application.sass */
.lang {
  margin-top: 14px;
}
/* line 80, ../../assets/sass/application.sass */
.lang .ru, .lang .eng {
  background: url(../img/sprites/lang.png) no-repeat;
  height: 29px;
  width: 29px;
  display: inline-block;
}
/* line 85, ../../assets/sass/application.sass */
.lang .ru {
  background-position: 1px 0px;
}
/* line 87, ../../assets/sass/application.sass */
.lang .ru.active, .lang .ru:active, .lang .ru:hover {
  background-position: 1px -31px;
}
/* line 89, ../../assets/sass/application.sass */
.lang .eng {
  background-position: -29px 0px;
  margin-left: 7px;
}
/* line 92, ../../assets/sass/application.sass */
.lang .eng.active, .lang .eng:active, .lang .eng:hover {
  background-position: -29px -31px;
}

/* line 95, ../../assets/sass/application.sass */
.social .fb, .social .tw, .social .in {
  background: url(../img/sprites/social.png) no-repeat;
  height: 52px;
  width: 52px;
  display: inline-block;
}
/* line 100, ../../assets/sass/application.sass */
.social .fb {
  background-position: 0px -53px;
}
/* line 102, ../../assets/sass/application.sass */
.social .fb:hover {
  background-position: 0px -1px;
}
/* line 104, ../../assets/sass/application.sass */
.social .tw {
  background-position: -52px -53px;
}
/* line 106, ../../assets/sass/application.sass */
.social .tw:hover {
  background-position: -52px -1px;
}
/* line 108, ../../assets/sass/application.sass */
.social .in {
  background-position: -104px -53px;
}
/* line 110, ../../assets/sass/application.sass */
.social .in:hover {
  background-position: -104px -1px;
}

/* line 112, ../../assets/sass/application.sass */
.form-horizontal {
  position: relative;
  margin-top: 12px;
}
/* line 115, ../../assets/sass/application.sass */
.form-horizontal .control-group {
  margin-bottom: 12px;
}
/* line 117, ../../assets/sass/application.sass */
.form-horizontal .control-label {
  text-align: left;
  width: 100px;
}
/* line 120, ../../assets/sass/application.sass */
.form-horizontal .controls {
  margin-left: 100px;
}
/* line 122, ../../assets/sass/application.sass */
.form-horizontal .controls input, .form-horizontal .controls textarea {
  width: 183px;
}
/* line 124, ../../assets/sass/application.sass */
.form-horizontal .controls textarea {
  resize: none;
}
/* line 126, ../../assets/sass/application.sass */
.form-horizontal .control-group-right-button {
  display: inline-block;
  margin: 0;
}
/* line 129, ../../assets/sass/application.sass */
.form-horizontal .form-button {
  display: inline-block;
  margin-left: 20px;
  vertical-align: bottom;
}
/* line 133, ../../assets/sass/application.sass */
.form-horizontal .error {
  border-color: #c60f13;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
