{% extends "base.html" %}
{% block title %}Contact us{% endblock %}
{% block content %}
<div class="row">
	<div class="span7 offset4">
		<h2>Contact us</h2>
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="#">Name</label>
				<div class="controls">
					<input class="error" type="text" id="#">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">Phone number</label>
				<div class="controls">
					<input type="tel" id="#">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="#">E-mail</label>
				<div class="controls">
					<input type="email" id="#">
				</div>
			</div>
			<div class="control-group control-group-right-button">
				<label class="control-label" for="#">Description</label>
				<div class="controls">
					<textarea rows="5" id="#"></textarea>
				</div>
			</div>
			<div class="form-button"><button class="blue-btn">send</button></div>
		</form>
	</div>
<div>
{% endblock %}