<header class="container">
	<div class="row">
		<div class="span4">
			<a href="#"><img src="/static/img/site/logo.png"></a>
		</div>
		<div class="span8">
			<div class="lang pull-right">
				<a href="#" class="ru"></a>
				<a href="#" class="eng active"></a>
			</div>
			<h1>Russian localization<br > of IT-projects</h1>
			<div class="clearfix"></div>
		</div>
	</div>
</header>