{% extends "base.html" %}
{% block title %}Welcome!{% endblock %}
{% block content %}
<div class="row">
	<div class="span4 offset4">
		<h2>About us</h2>
		<p>”Zavod” is a Russian IT company that develops innovative international projects.</p>
		<h2>Our mission</h2>
		<p>We create projects for Russia and USA.</p>
		<h2>Our advantages:</h2>
		<ul>
			<li>Deep understanding of Russian market</li>
			<li>Experience of creating startups</li>
			<li>Support on Russian and International market </li>
		</ul>
	</div>
	<div class="span4">
		<h2>Who do we work with:</h2>
		<p>Maybe you’re one of our future partners interested in creating world level projects?</p>
		<ul>
			<li>Startup</li>
			<li>Venture fond</li>
			<li>Core business</li>
		</ul>
		<button class="blue-btn long">Contact us</button>
	</div>
<div>
{% endblock %}