<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<script src="/static/js/html5.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/application.css" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			{% include "header.html" %}
			<article class="container">
				{% block content %}{% endblock %}
			</article>
			{% include "footer.html" %}
		</div>
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</html>