<header class="container">
	<div class="row">
		<div class="span4">
			<a href="#"><img src="/static/img/site/logo.png"></a>
		</div>
		<div class="span8">
			<div class="lang pull-right">
				<a href="#" class="ru active"></a>
				<a href="#" class="eng"></a>
			</div>
			<div class="clearfix"></div>
			<h1>Локализация IT-проектов<br > в россии</h1>
		</div>
	</div>
</header>