{% extends "ru-base.html" %}
{% block title %}Добро пожаловать!{% endblock %}
{% block content %}
<div class="row">
	<div class="span4 offset4">
		<h2>О нас</h2>
		<p>”Zavod” – российская IT-компания, занимающаяся локализацией иновационных проектов в России.</p>
		<h2>Миссия</h2>
		<p>Создание  проектов на рынках России и США.</p>
		<h2>Наши преимущества:</h2>
		<ul>
			<li>Глубокое понимание рынка России</li>
			<li>Опыт создания стартапов</li>
			<li>Поддержка на российском и международных рынках</li>
		</ul>
	</div>
	<div class="span4">
		<h2>С кем мы работаем</h2>
		<p>Возможно вы один из наших будущих партнеров из России или США, которому так же интересно создание проектов мирового уровня: </p>
		<ul>
			<li>Стартапы</li>
			<li>Венчурные фонды</li>
			<li>Профильный бизнес</li>
		</ul>
		<button class="blue-btn long">Отправить заявку</button>
	</div>
<div>
{% endblock %}